<!-- FieldProperties -->

<!-- CSS -->
<style type="text/css">
<!-- 

	#FieldProperties {
		background: white;
		opacity: 0.9;
    	filter: alpha(opacity=90); /* For IE8 and earlier */
    	-webkit-box-shadow: 6px 6px 6px 0px rgba(0,0,0,1);
		-moz-box-shadow: 6px 6px 6px 0px rgba(0,0,0,1);
		box-shadow: 6px 6px 6px 0px rgba(0,0,0,1);
	}
	
	#label {
   		margin-top: 5px;
	}
-->
</style>


<!-- HTML -->
<div id="FieldProperties">
	<h3>
		<span class="label label-default" style="text-transform: capitalize">
			Eigenschaften: {{fieldType}}
		</span>
	</h3>
	<ul>
		<li ng-repeat="(key, value) in fieldProperties" ng-if="filterProperties(key)" style="text-transform: capitalize"> 
			{{key}} : {{value}}
		</li>
	</ul>
</div>