<!-- Playingfield -->

<!-- CSS -->
<style type="text/css">
<!-- 
	#pfieldtable {
		background-image: url("images/grass.jpg");
		-webkit-box-shadow: 6px 6px 6px 0px rgba(0,0,0,1);
		-moz-box-shadow: 6px 6px 6px 0px rgba(0,0,0,1);
		box-shadow: 6px 6px 6px 0px rgba(0,0,0,1);
	}
	
	.borderless tbody tr td, .borderless thead tr th {
    	border: none;
	}
	
	#tower {
		margin:0px;
		padding:0px;
		
	}
	#mob {
		background-image: url("images/way.jpg");
		width:100%;
		height:100%;
	}
	#empty {
		opacity: 0.0;
    	filter: alpha(opacity=0); /* For IE8 and earlier */
	}
	#way {
		width:100%;
		height:100%;
		background-image: url("images/way.jpg");
	}
-->
</style>


<!-- HTML -->
<div id="playingfield">  
	<table border="2px" border-color="black" class="borderless" id="pfieldtable" ng-table>
		<tr border="2px" border-color="black" ng-repeat="rows in gameContext.playingField.fieldArray">
			<td align="center" valign="middle" border="2px" border-color="black" class="field" width="60px" height="60px"
			 ng-repeat="colum in rows" id="field{{$index}},{{$parent.$index}}" 
			 ng-click='clickOnField($index, $parent.$index, colum)' 
			 ng-switch on='getFieldContent($index, $parent.$index, colum)'>
				
				<div ng-switch-when="tower" id="tower" >
        			<img src="images/tower3.png" style="width:40px;height:60px">
    			</div>
    			<div ng-switch-when="mob" id="mob">
        			<img src="images/mob2.png" style="width:25px;height:40px">
    			</div>
    			<div ng-switch-when="way" id="way">
			        
			    </div>
			    <div ng-switch-default id="empty">
			        
			    </div>
			    
			</td>
		</tr>
	</table>
</div>