<html ng-app="towerdefence">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    
    <script type='text/javascript' src='@routes.Assets.at("javascript/app.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascript/controllers.js")'></script>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>