<html ng-app="towerdefence">
  <head>
    <meta charset="utf-8">
    <title>Angular.js V2</title>
    
    <link rel='stylesheet' type='text/css' href='/public/css/bootstrap.css'>
    
    <script type="text/javascript" src="/public/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/public/js/angular/angular.js"></script>
    <script type="text/javascript" src="/public/js/angular/angular-route.js"></script>
    
    <script type='text/javascript' src="/assets/javascript/app.js"></script>
    <script type='text/javascript' src="/assets/javascript/controllers.js"></script>
    
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>