<html ng-app="towerdefenceApp">
  <head>
    <meta charset="utf-8">
    <title>Tower Defence</title>
    
    <link rel='stylesheet' type='text/css' href='/css/bootstrap.css'>
    
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/angular/angular-route.js"></script>
    
    <script type='text/javascript' src="/assets/javascript/app.js"></script>
    <script type='text/javascript' src="/assets/javascript/controllers.js"></script>
    <script type='text/javascript' src="/assets/javascript/gamecontextfactory.js"></script>
    <script type='text/javascript' src="/assets/javascript/directives.js"></script>
    
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>